.Header {
    display: flex;
    align-items: center !important;
    margin-top: 10px;
    gap: 20px;

    &__side {
        border: 1px solid #001529;
        border-radius: 3px;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 400px;
        position: relative;
        cursor: pointer;

        &__item {
            text-align: center;
            width: 100%;
            font-size: 14px;
            font-weight: 500;
            color: #001529;
            z-index: 10;
            transition: all .3s ease;
            border-right: 1px solid #001529;

            &:last-child {
                border-right: none;
            }

            &:hover {
                background-color: rgb(0, 21, 41, .07);
            }
        }

        &__itemActive {
            color: #fff !important;
        }

        &__animation {
            transition: all .3s ease;
            position: absolute;
            top: 0;
            height: 100%;
            color: #fff;
            background-color: #001529;
            z-index: 9;
        }
    }

    &__add {
        text-align: center;
        display: inline-block;
        padding: 10px 15px;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        background-color: #001529;
        z-index: 10;
        transition: all .2s ease;
        border: 1px solid #001529;
        margin-left: auto;
        margin-right: 100px;

        &:hover {
            color: #001529;
            background-color: #fff;
        }

        &:active {
            color: #fff;
            background-color: #001529;
        }
    }
}