.PieChartComponent {
    display: flex;
    align-items: center;

    &__value {
        margin-bottom: 1px;
        display: flex;
        align-items: center;
        gap: 5px;

        div {
            width: 10px;
            height: 10px;
            border-radius: 3px;
        }

        p {
            font-size: 13px;
            font-weight: 400;

        }

    }
}